{% load markup %}
{% load meetings_image %}

<div class="meeting_info">
{% if object.image %}
    {% meetings_image object.image 'class="floatleft"' %}
{% endif %}
<h1>
<a href="{{ object.get_absolute_url }}">{{ object.readable_format }}:</a>
{{ object.summary|escape }}</h1>
<p class="coords"> Date: {{ object.date.date|date:"F j, Y" }} at
{{ object.date.time|time:"P" }} <br/>
Location: <a href="{{ object.location.get_absolute_url }}"
>{{ object.location.name|escape }}</a><br/>
</p>
{% if object.description %}
    <div style="padding-top: 1ex;">
    {{ object.description|markdown }}
    </div>
{% endif %}
{% if object.talks %}
    {% for talk in object.talks.all %}
    	{% include "meetings/talk_info.html" %}
    {% endfor %}
{% endif %}
<br class="thinbr" />
</div>

