{% load markup %}
{% load meetings_image %}

<div style="padding-top: 1ex;">
{% if object.image %}
    {% meetings_image object.image 'align="right" style="padding-top:1em;"' %}
{% endif %}
<h1>
<span style="color: #5f6666;">{{ object.readable_format }}:</span>
{{ object.summary|escape }}</h1>
<p> Date: {{ object.date.date|date:"F j, Y" }} at
{{ object.date.time|time:"P" }} <br/>
Location: <a href="{{ object.location.get_absolute_url }}"
>{{ object.location.name|escape }}</a><br/>
</p>
{% if object.description %}
    <div style="padding-top: 1ex;">
    {{ object.description|markdown }}
    </div>
{% endif %}
{% if object.talks %}
    {% for talk in object.talks.all %}
        <div style="padding-top: 1ex;">
        {% if talk.image %}
            {% meetings_image talk.image 'align="left" style="padding-right: 1ex; padding-bottom: 1ex;"' %}
        {% endif %}
        <p>Speaker: <a href="{{ talk.speaker.get_absolute_url }}"
        >{{ talk.speaker.name|escape }}</a><br/>
        <h2>{{ talk.topic|escape }}</h2>
        {{ talk.description|markdown }}
        <br clear="left"/>
        </div>
    {% endfor %}
{% endif %}
<br clear="right" />
</div>

