{% extends "base_generic.html" %}

{% block title %}
Past Meetings and Events - OCLUG
{% endblock %}

{% block content %}
<div class="midbox">
<div class="boxtop">
<h2 class="h2boxtop">Past Meetings and Events</h2>
</div>
<div class="contentbox">
{% if object_list %}
    {% for meeting in object_list %}
        {% include "meetings/meeting_brief.html" %}
    {% endfor %}
    {% if is_paginated %}
        <div style="padding-top: 1em;">
        {% if has_previous %}
            <a href="?page={{ previous }}">&lt;&lt;previous</a>
        {% else %}
            <span style="#ddd;">&lt;&lt;previous</span>
        {% endif %}
        [{{ page }} of {{ pages }}]
        {% if has_next %}
            <a href="?page={{ next }}">next&gt;&gt;</a>
        {% else %}
            <span style="#ddd;">next&gt;&gt;</span>
        {% endif %}
        </div>
    {% endif %}
{% else %}
    <p>No meetings currently posted.</p>
{% endif %}
</div>
</div>
{% endblock %}
