{% extends "base_generic.html" %}

{% block title %}
Past Meetings and Events - OCLUG
{% endblock %}

{% block content %}

{# if this is the first page of past_meetings then show recent meeting #}
{# details in the left column #}

{% ifequal page 1 %}
    <div class="leftbox">
    <div class="boxtop">
    <h2 class="h2boxtop">Recent Meeting Details</h2>
    </div>
    <div class="contentbox">
    {% for object in recent %}
        {% include "meetings/meeting_info.html" %}
    {% endfor %}
    </div>
    </div>
{% endifequal %}

{# Move past meetings list to the right column if recent meeting #}
{# details are shown #}

{% ifequal page 1 %}
    <div class="rightbox">
{% endifequal %}
{% ifnotequal page 1 %}
    <div class="midbox">
{% endifnotequal %}
<div class="boxtop">
<h2 class="h2boxtop">Past Meetings</h2>
</div>
<div class="contentbox">
{% if object_list %}
    {% for meeting in object_list %}
        {% include "meetings/meeting_brief.html" %}
    {% endfor %}
    {% if is_paginated %}
        <div style="padding-top: 1em;">
        {% if has_previous %}
            <a href="?page={{ previous }}">&lt;&lt; later</a>
        {% else %}
            <span style="#ddd;">&lt;&lt; later</span>
        {% endif %}
        [{{ page }} of {{ pages }}]
        {% if has_next %}
            <a href="?page={{ next }}">earlier &gt;&gt;</a>
        {% else %}
            <span style="#ddd;">earlier &gt;&gt;</span>
        {% endif %}
        </div>
    {% endif %}
{% else %}
    <p>No meetings currently posted.</p>
{% endif %}
</div>
</div>
{% endblock %}
