{% extends "base_generic.html" %}

{% load markup %}
{% load meetings_image %}

{% block title %}
{{ object.name|escape }} - OCLUG
{% endblock %}

{% block content %}
<div class="midbox">
<div class="boxtop">
<h2 class="h2boxtop">{{ object.name|escape }}</h2>
</div>
<div class="contentbox">

{% if object.image %}
    {% meetings_image object.image 'class="floatright"' %}
{% endif %}
<div>
{{ object.background|markdown }}
</div>

{% if object.talks %}
    <div style="padding-top: 1em;">
    <h3>Talks given:</h3>
    {% for talk in object.talks.all %}
        <div style="padding-top: 1ex;">
        {{ talk.meeting.date.date|date:"Y.m.d" }}
        <span style="color: #5f6666;">{{ talk.meeting.readable_format }}:</span>
        <a href="{{ talk.meeting.get_absolute_url }}"
        >{{ talk.topic|escape }}</a>
        </div>
    {% endfor %}
    </div>
{% endif %}

</div>
</div>
{% endblock %}
