{% extends "base_generic.html" %}

{% load markup %}
{% load meetings_image %}
{% load devel_feed %}


{% block content %}

{# upcoming meetings box #}

<div class="leftbox">
<div class="boxtop">
<a href="/feeds/upcoming/"><img align="left" src="/media/rss.png" width="14" height="14" style="margin: 0.3ex 1ex;"
alt="rss icon" title="Upcoming Meeting RSS Feed" /></a><h2 class="h2boxtop">Upcoming Meetings and Events
</h2>
</div>

<div class="contentbox">
<div class="center">
<small><strong>OCLUG meets on the first Thursday of every month at 7pm</strong></small>
</div>
{% if object_list %}
    {% for object in object_list %}
        {% include "meetings/meeting_info.html" %}
    {% endfor %}
{% endif %}    
</div>

{# past meetings box (in same "leftbox" div) #}

{% if recent %}
    <div class="boxtop">
    <h2 class="h2boxtop"><a href="/past_meetings/">Past Meetings</a></h2>
    </div>

    <div class="contentbox">
    {% for object in recent %}
        {% include "meetings/meeting_info.html" %}
    {% endfor %}
    <a href="/past_meetings/">more...</a>
    </div>
{% endif %}    
</div>

{# announcements #}

{% if announcements %}
<div class="rightbox">
<div class="boxtop">
<h1 class="h2boxtop">Announcements</h1>
</div>
<div class="contentbox" style="padding-bottom:0">
{% for ann in announcements %}
    {% if forloop.counter0 %}
    <br class="thinbr" />
    {% endif %}
    {% if ann.image %}
        {% meetings_image ann.image 'class="floatright"' %}
    {% endif %}
    <h1 style="margin:0">{{ ann.title|escape }}</h1>
    {{ ann.text|markdown }}
{% endfor %}
<br class="thinbrright" />
</div>
</div>
{% endif %}

{# Jobs box #}

<div class="rightbox">
<div class="boxtop">
<a href='/feeds/jobs/'><img align="left" src="/media/rss.png" width="14" height="14" style="margin: 0.3ex 1ex;"
alt="rss icon" title="Jobs RSS Feed" /></a><h2 
class="h2boxtop"><a href="/jobs/">Linux/OSS Job Postings</a></h2>
</div>
<div class="contentbox" style="padding-bottom:0">
{% for posting in jobs %}
<div class="develitem">
<a href="/posting/{{ posting.id }}/">{{ posting.title }}</a></div>
{% endfor %}
</div>
</div>

{# devel.oclug.on.ca box #}

<div class="rightbox">
<div class="boxtop">
<a href='{% devel_feed "True" %}'><img align="left" src="/media/rss.png" width="14" height="14" style="margin: 0.3ex 1ex;"
alt="rss icon" title="devel.oclug.on.ca RSS Feed" /></a><h2 
class="h2boxtop"><a href="http://devel.oclug.on.ca/timeline"
>Wiki and Ticket Changes</a></h2>
</div>
<div class="contentbox" style="padding-bottom:0">
{# render devel.oclug.on.ca feed (see meetings/templatetags/devel_feed.py) #}
{% devel_feed %}
</div>
</div>

{# planet.oclug.on.ca box #}

{% if planet_oclug %}
<div class="rightbox">
<div class="boxtop">
<a href='http://planet.oclug.on.ca/feed/rss/'><img align="left" src="/media/rss.png" width="14" height="14" style="margin: 0.3ex 1ex;"
alt="rss icon" title="planet.oclug.on.ca RSS Feed" /></a><h2 
class="h2boxtop"><a href="http://planet.oclug.on.ca">Planet OCLUG</a></h2>
</div>
<div class="contentbox" style="padding-bottom:0">
{% for post in planet_oclug %}
<div class="develitem">{{ post.date_modified|date:"d M H:i" }}
<a href="{{ post.link }}">{{ post.title|escape }} by
{{ post.feed.name|escape }}</a></div>
{% endfor %}
</div>
</div>
{% endif %}


{% endblock %}

