{% extends "base_generic.html" %}

{% load markup %}
{% load meetings_image %}

{% block precontent %}
{% if announcements %}
<div class="box" style="margin-bottom: 1ex;">
<div class="boxtop">
<h1 class="h1boxtop">Announcements</h1>
</div>
<div class="contentbox" style="padding-bottom:0">
{% for ann in announcements %}
    {% if forloop.counter0 %}
    <br class="thinbr" />
    {% endif %}
    {% if ann.image %}
        {% meetings_image ann.image 'class="floatright"' %}
    {% endif %}
    <h1 style="margin:0">{{ ann.title|escape }}</h1>
    {{ ann.text|markdown }}
{% endfor %}
<br class="thinbr" />
</div>
</div>
{% endif %}
{% endblock %}


{% block boxtop %}
<h1 class="h1boxtop">Upcoming Meetings and Events
<a href="/feeds/upcoming/"><img src="/media/rss.png" width="14" height="14"
alt="rss icon" title="Upcoming Meeting RSS Feed" /></a></h1>
{% endblock %}


{% block content %}
<div class="center">
<small><strong>OCLUG meets on the first Tuesday of every month at 7pm</strong></small>
</div>

{% if object_list %}
    {% for object in object_list %}
        {% include "meetings/meeting_info.html" %}
    {% endfor %}
{% endif %}    
{% endblock %}

