    a:link {
        color: #2222dd;
        text-decoration: none;
    }
    a:visited { 
        color: navy;
        text-decoration : none;
    }
    a:hover {
        text-decoration: underline;
        background: #ffffcc;
        color: navy;
    }
    body { 
        font-family: helvetica,sans-serif; 
        font-size: 9pt;
        background-color: #eeeeee;
    }
    p {
        text-align: left;
        margin-top: 1ex;
        margin-bottom: 1ex;
    }
    a { 
        font-family: sans-serif;
        text-decoration: none;
        color: black; 
        /*font-weight: bold;*/
    }
    img {
        border: none;
        margin: 1px;
    }
    .left {
        float: left;
        margin: 15px;
    }
    h1 {
        font-size: 12pt;
        color: black;
        font-weight: bold;
        margin: 5px;
    }
    h2 {
        font-size: 11pt;
        text-decoration: none;
        font-weight: bold;
        color: #000000;
        margin-top: 2pt;
        margin-bottom: 2px;
    }
    .underline {
        text-decoration: underline;
    }
    .italic {
        font-style: italic;
    }
    h3 {
        font-size: 11pt;
        text-decoration: none;
        font-weight: bold;
        color: black;
        margin-bottom: 0px;
        margin-top: 0px
    }
    h3.heading {
        margin-top: 2px;
        margin-bottom: 3px;
    }
    h4 {
        font-size: 10pt;
        text-decoration: underline;
        font-weight: normal;
        color: black;
        margin-bottom: 0px;
    }
    td {
        text-align: left;
    }
    .search {
        margin-left: auto;
        margin-right: auto;
    }
    .menu {
        border: 1px solid #000;
        background: #e6e6e6;
        padding: 10px;
        margin: 0px 0px 0px 165px;
        voice-family: "\"}\"";
        voice-family:inherit;
    }
    .menu ul {
	/*float: left;*/
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0px 1ex 0px 1px;   
    }
    .menu ul li  {
        text-align: left;
        font-size: 8pt;
	font-weight: bold;
	margin: 0;
	padding: 3px 0px;
    }
    .menu ul li ul {
        list-style-type: none;
	display: inline;
	position: relative;
	margin-left: -8em;
	left: 8em;
	padding-right: 8em;
	padding-left: 1em;
    }
    .menu ul li ul li{
        list-style-type: none;
	display: inline;
	padding-right: 1ex;
	white-space: nowrap;
    }
    .menu a {
        font-weight: normal;
    }
    .box {
        border: 0px solid #000;
        background: black;
        padding: 0px;
        margin: 0px;
        voice-family: "\"}\"";
        voice-family:inherit;
    }
    #page {
	width: 65em;
	background-color: white;
	padding: 4px;
	border: 1px solid #dddddd;
    }
    .adminlink {
	float: right;
        font-size: 8pt;
	color: #888888;
    }
    .tagline {
	font-size: 8pt;
	color: #888888;
	margin-bottom: 1ex;
    }
    .logo {
	padding-right: 1ex;
    }
    .menubox {
	padding-bottom: 4px;
	width: 100%;
	overflow: hidden;
    }
    .develitem {
	font-size: 8pt;
	margin-bottom: 1em;
    }
    
    /* these classes come from the devel.oclug.on.ca feed */
    .add, .delete, .edit, .copy, .move {
	display: none;
    }

    .leftbox {
	float: left;
	width: 36em;
	margin-right: 4px;
	margin-bottom: 4px;
    }
    .rightbox {
	padding-left: 36em;
	margin-left: 4px;
	padding-bottom: 4px;
    }
    .midbox {
	padding-left: 165px;
	width: 45em; 
    }
    .boxtop {
        border: 1px solid #000;
        border-bottom: 0px solid #000;
        background: #bfcccc;
        padding: 1px;
        margin: 0px;
        /* height: 30px; */
        /* width: 100%; */
        voice-family: "\"}\"";
        voice-family:inherit;
    }
    .h2boxtop {
        font-size: 10pt;
        color: black;
        font-weight: bold;
	padding-left: 1em;
        margin: 1px;
    }
    .contentbox {
        border-top: 0px solid #000;
        border: 1px solid #000;
        background: #f5f5f5;
        padding: 10px;
        margin: 0px;
        height: 100%;
        /* width: 100%; */
        voice-family: "\"}\"";
        voice-family:inherit;
    }
    .valid  {
        margin-top: 25pt;
    }
    .headline {
        font-size: 105%;
        color: navy;
        font-weight: bold;
    }
    .coords {
    	padding-left: 2ex;
    }
    .meeting_info {
    	margin-top: 2ex;
    }
    .meeting_info:first-child {
    	margin-top: 0;
    }
    .talk_info {
    	margin-top: 0.5ex;
    }
    .talk_info:first-child {
    	margin-top: 0;
    }
    .thinbr {
    	margin-bottom: -2em;
        clear: both;
    }
    .thinbrright {
    	margin-bottom: -2em;
        clear: right;
    }
    .floatleft {
        float: left;
        margin-right: 1ex;
        margin-bottom: 1ex;
    }
    .floatright {
        float: right;
        margin-left: 1ex;
        margin-bottom: 1ex;
    }
    .thinbr {
	margin-bottom: -2em;
    }
